*{
	margin: 0;
	padding: 0;
}

html{
	background-image: -moz-linear-gradient(left, #fdfcfb 0%, #abb4b8 100%);
    background-image: -webkit-linear-gradient(left,  #fdfcfb 0%, #abb4b8 100%);	
}

header,footer{
	display:block;
}

body{
	width: 1200px;
	margin: 0 auto;
	font-size: 100%;
	font-family:Arial, Helvetica, sans-serif;
}

header{
	padding-bottom: 2em;
	border-bottom: 2px solid black;
}

header img{
	padding: 1em;
	float: left;
}

header h2{
	font-size: 200%;
	color: black;
	padding-top: .5em;
	padding-bottom: .25em;
	font-weight: bolder;
	text-shadow: 2px 2px 2px white;
}

header h3{
	font-size: 150%;
	color: cadetblue;
	font-style: italic;
}

header div{
	float: right;
	background:url(../images/gradient_light.jpg) repeat-x 50% 50% #f8f8f8;
	border-radius: 10px;
	padding: .15em .35em;
	margin-right: 20px;
}

#back a{
	font-weight: normal;
	color: black;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding: 2px;
}

#back a:focus{
	text-decoration:none;
	background-color:#879296;
	color: white;
}

#back a:hover{
	text-decoration:none;
	background-color:#879296;
	color: white;
}

section{
	width: 70%;
	height: 300px;
	margin:10px auto; 
	border-radius: 10px;
}

section img{
	float: right;
	height: 300px;
	width: 300px;
	border-radius: 10px;
}

section h1{
	margin: 30px 0 30px 30px;
	padding-left: 30px;
	padding-top: 30px;
	font-size: 300%;
	text-shadow: 2px 2px 2px orange;
}

section h2{
	margin: 30px 0 30px 30px;
	padding-left: 30px;
	font-size: 250%;
	text-shadow: 2px 2px 2px orange;
}

footer{
	clear: both;
	border-top: 2px solid black;
	margin-bottom:30px;
	font-size:1.20em;
	padding-top: 1.5em;
	text-align: center;
	color: black;
	width: 100%;
}

footer p{
	float: right;
}